<div class="k_login_main">
  <%= form_tag logging_path, method:"post", :onsubmit => "return validateLogin()", :id => "k_form_login" do %>
      <%= text_field_tag :logusername, nil, class: 'k_username'%>
      <%= password_field_tag :logpassword, nil, class: 'k_password'%>
        <!-- Nút quên mật khẩu -->
      <div class="k_login_fogot"></div>
        <!-- Nút login -->
      <%= submit_tag '', :disable_with => 'Please wait...', :class => 'k_login_btnsignin' %>

      <!-- Nút Đăng ký -->
      <div class="k_register_btnsignin" onclick="showRegister()"></div>
  <% end %>

  <!-- Nút đăng nhập bằng mạng xã hội -->
  <a href="/auth/facebook">
    <div class="k_login_fb"></div>
  </a>

  <div class="k_login_gg"></div>
  <div class="k_login_tw"></div>
</div>


<div class="k_register">
   <div class="k_form">
     <%= form_tag register_path, multipart: true, method:"post", remote: false, :onSubmit => 'return validatorRegister();' do %>

         <%= text_field_tag :username, nil, class: 'k_username_register'%>
         <%= text_field_tag :email, nil, class: 'k_email_register'%>
         <%= password_field_tag :password1, nil, class: 'k_password_register1'%>
         <%= password_field_tag :password2, nil, class: 'k_password_register2'%>
         <!-- Nút Đăng ký (Tạo Njck)-->
         <!--<div class="k_register_btncreate" onclick=" return validatorRegister()"></div>-->
         <%= submit_tag '', :disable_with => 'Please wait...', :class => 'k_register_btncreate', :onSubmit => 'return validatorRegister();' %>
     <% end %>

   </div>
</div>

